@import "variables";
@import "~react-bulma-components/src/index.sass";

//General

// Convert pixels to rem
@function calculateRem($size) {
  @return $size / 16px * 1rem;
}

.is-secondary{
  background-color: $secondary!important;
  color: white!important;
}

.content-wrapper{
  margin-top: -3em!important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero, #brand{
  text-align: center;
  font-family: 'Love Ya Like A Sister', Sanchez, "Segoe UI", sans-serif;
}
.hero-tall{
  padding-bottom: 3em;
}

// Front page

#divider{
  background-color: adjust-color($primary, $lightness: -5%);
  margin: 0;
}

// Translate page

:root{
  --image-height: 100px;
}
@media only screen and (max-width: 1023px){
  :root{
    --image-height: 70px;
  }
}
@media only screen and (max-width: 500px){
  :root{
    --image-height: 50px;
  }
}


#translation-bar{
  width: 100%;
  max-width: 650px;
  margin: 1em 1em 4em !important;
  padding: 0 1em !important;
  div > *{
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }
}

.translation-bar-margin{
  margin-top: -6.6em!important;
}

#login-box{
  max-width: 600px;
}

#result-box{
  width: 100%;
  padding: 0;
  #result-box-content{
    font-size: calc(var(--image-height) / 1.5);
    margin: 1.25rem;
    min-height: calc(var(--image-height) + 1.25rem * 2);
    display: grid;
    // Grid magic to spread words
    grid-template-columns: repeat(auto-fit, minmax(var(--image-height), max-content));
    grid-gap: 16px;
    justify-content: center;
    padding: initial;
  }
  .spacer{
    display:inline-block;
    //width: 30px;
  }
  #result-box-footer{
    width: 100%;
    background-color: $secondary;
    padding: .5rem 1.25rem;
    color: white;
    min-height: 2em;
    border-bottom-left-radius: 6px;;
    border-bottom-right-radius: 6px;;
  }
}

// profile page
#profile-container{
  padding: 2em;
  max-width: 600px;
}

#name-field{
  max-width: 600px;
}

.delete-btn{
  float: right;
}
.list{
  box-shadow: none!important;
}


